#root {
   max-width: 1280px;
   margin: 0 auto;
   padding: 2rem;
   text-align: center;
}

.logo {
   height: 6em;
   padding: 1.5em;
   will-change: filter;
   transition: filter 300ms;
}
.logo:hover {
   filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
   filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@media (prefers-reduced-motion: no-preference) {
   a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
   }
}

.card {
   padding: 2em;
}

.read-the-docs {
   color: #888;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid #ccc;
   border-radius: 3px;
   padding: 1em;
   max-width: 20em;
   margin: 0 auto;
}

input {
   padding: 0.5em;
   margin: 0.5em;
   border: 1px solid #ccc;
   border-radius: 3px;
   width: 100%;
   max-width: 20em;
}

label {
   font-weight: bold;
   text-align: left;
   width: 100%;
   max-width: 20em;
}

code {
   background-color: #eee;
   padding: 0.25em;
   border-radius: 3px;
}

.notas {
   font-size: 0.8em;
   color: #888;
   margin-top: 1em;
   border: 1px solid #ccc;
   border-radius: 3px;
   padding: 1em;
   max-width: 100%;
   margin: 2em auto;
}
